* {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
div:focus{
  background-color: transparent !important
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
.addtrainboxshadow{
  box-shadow: 0 3px 14px 0px rgb(69 65 78 / 25%);
}
.timepickeroverflow::-webkit-scrollbar{
  width: 0px;
}
.timepickeroverflow {
  /* Other CSS properties */
  scrollbar-width: none; /* For Firefox */
}

.timepickeroverflow::-webkit-scrollbar {
  /* WebKit browsers */
  display: none; /* Hide scroll bar */
}
.open-animation {
  animation: slideIn 0.8s ease-in-out forwards;
  /* You can customize the animation duration and easing here */
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}


/* Custom class for sweet alert toast */
#swal2-title{
  padding-top: 12px !important;
}
.swal2-popup.swal2-toast.swal2-show{
  height: auto !important;
}

.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: gainsboro;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}